html {
  font-family: helvetica;
}
body{
  background-color: #c4c1c0;
}
table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
  page-break-after: always;
}
td {
  border: 1px black solid;
  padding: 5px;
}
.question {
  margin: 20px;
  clear: both;
}
.chart {
  float: left;
  margin: 20px;
}
.chart text {
  font: 10px sans-serif;
  text-anchor: end;
}

.break-after {
  page-break-after: always;
}

p { 
  font-size: 1.2em;
}

rect {
  fill: none;
  stroke: #fff;
}

text {
  font: 10px sans-serif;
}


button {
  width: 100px;
  height: 50px;
}
